<html>
  <head>
     <title>Demo Form</title>
     <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>

    <div class="container"><br>
      <center>
        <h2>Materials Form for {{name}}</h2>
      </center>
    </div>

    <div class="container"><br>
    <div class="row align-items-center justify-content-center">
    <div class="col-md-4">
      <form  action="{{ url_for('apply', id=id, app=app_id) if app_id else url_for('apply', id=id, app='new_materials') }}" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">

          <label for="material">Material Name:</label>
          <input type="text" class="form-control" value="{{form.data['material']}}" id="material" name="material" placeholder="Aluminum">
            <br>
          <label for="qty">Quantity:</label>
          <input type="text" class="form-control" value="{{form.data['qty']}}" id="qty" name="qty" placeholder="200">
           <br>
          <label for="delay">Time Delay:</label>
          <input type="text" class="form-control" value="{{form.data['delay']}}" id="delay" name="delay" placeholder="7">

            <!-- <br> -->
          <!-- <label for="contact">Phone #:</label>
          <input type="text" class="form-control" id="contact" name="contact" placeholder="111-111-1111">
	         <br>
          <label for="loc">Location:</label>
          <input type="text" class="form-control" id="loc" name="loc" placeholder="07726">
            <br>
          <label for="service_type">What you have to offer:</label>
          <select class="form-control" id="service_type" name="service_type">
            <option disabled selected>Select your option</option>
            <option>Materials</option>
            <option>Equipment</option>
            <option>Labor</option>
          </select> -->
<!-- 	  <label for="email">Email:</label>
	  <input type="text" class="form-control" id="email" name="email" placeholder="Your email address.">
	    <br>
	  <label for="password">Password:</label>
	  <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password."> -->

	</div>
        <br>													   

        <center>
          <button type="submit" class="btn btn-success">Submit</button>
        </center>
      </form>

      <br>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-danger">
                <strong>Error: </strong> {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}

    </div>
    <br>
    </div>
    </div>
  </body>
</html>