<html>
  <head>
     <title>Demo Form</title>
     <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>

    <div class="container"><br>
      <center>
        <h2>Register Your Business</h2>
      </center>
    </div>

    <div class="container"><br>
    <div class="row align-items-center justify-content-center">
    <div class="col-md-6">
      <form  action="{{ url_for('register') }}" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">

          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="ABC Metal">
            <br>
          <label for="contact">Phone #:</label>
          <input type="text" class="form-control" id="contact" name="contact" placeholder="111-111-1111">
	         <br>
          <label for="loc">Location:</label>
          <input type="text" class="form-control" id="loc" name="loc" placeholder="07726">
	</div>
        <br>													   

        <center>
          <button type="submit" class="btn btn-success">Submit</button>
        </center>
      </form>

      <br>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-danger">
                <strong>Error: </strong> {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}

    </div>
    <br>
    </div>
    </div>
  </body>
</html>